<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sTalk.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>12</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>36BC84FF7CCCF400198FCB9DFE6C2DF61CB8F002</string>
				<key>dateExpires</key>
				<string>01.04.2027</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36BC84FF7CCCF400198FCB9DFE6C2DF61CB8F002</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LiveKitWebRTC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z44H678J3R</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.22.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36BC84FF7CCCF400198FCB9DFE6C2DF61CB8F002</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapLibre.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z44H678J3R</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36BC84FF7CCCF400198FCB9DFE6C2DF61CB8F002</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MatrixRustSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z44H678J3R</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36BC84FF7CCCF400198FCB9DFE6C2DF61CB8F002</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Sentry.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z44H678J3R</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36BC84FF7CCCF400198FCB9DFE6C2DF61CB8F002</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>YbridOgg.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z44H678J3R</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36BC84FF7CCCF400198FCB9DFE6C2DF61CB8F002</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>YbridOpus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z44H678J3R</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36BC84FF7CCCF400198FCB9DFE6C2DF61CB8F002</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>Z44H678J3R.ru.implica.stalk.nse</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>Z44H678J3R</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.ru.implica.stalk.app</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>Z44H678J3R.ru.implica.stalk</string>
						</array>
					</dict>
					<key>name</key>
					<string>NSE.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>f331304b-058b-42bb-9c81-7561e4c50f23</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>name</key>
						<string>sTalk NSE AppStore</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z44H678J3R</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>26.04.05</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>36BC84FF7CCCF400198FCB9DFE6C2DF61CB8F002</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>Z44H678J3R.ru.implica.stalk.shareextension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>Z44H678J3R</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.ru.implica.stalk.app</string>
						</array>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>Z44H678J3R.ru.implica.stalk</string>
						</array>
					</dict>
					<key>name</key>
					<string>ShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>06a1eccc-6035-421b-b309-4abc3f2c5978</string>
						<key>dateExpires</key>
						<string>01.04.2027</string>
						<key>name</key>
						<string>sTalk ShareExtension AppStore</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z44H678J3R</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>26.04.05</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z44H678J3R.ru.implica.stalk</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:stalk.implica.ru</string>
					<string>applinks:call.stalk.implica.ru</string>
					<string>webcredentials:stalk.implica.ru</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Z44H678J3R</string>
				<key>com.apple.developer.usernotifications.communication</key>
				<true/>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.ru.implica.stalk.app</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Z44H678J3R.ru.implica.stalk</string>
				</array>
			</dict>
			<key>name</key>
			<string>sTalk.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6b786a73-41b6-4f89-99ae-fd5f259eb8f5</string>
				<key>dateExpires</key>
				<string>01.04.2027</string>
				<key>name</key>
				<string>sTalk AppStore</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z44H678J3R</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>26.04.05</string>
		</dict>
	</array>
</dict>
</plist>
